.btn{
    padding: 5px 20px;
    
}

.btn.btn-laranja{
    background: orangered;
    color: white;
    border-radius: 20px;
}

button{
    margin: 20px;
}

.btn.saiba-mais{
    width: 120px;
    height: 30px;
    background: orangered;
    border-radius: 80px;
    
}