header{
    width: 1024px;
    margin: 0 auto;

    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li{
    padding: 0 15px;
    color: rgb(82, 82, 208);
}
