header section{
    width: 1024px;
    margin: 30px auto;

    
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    
}

header nav ul{
    display: flex;
    flex-direction: row;
}

header nav ul li a{
    margin: 0 15px;
    color: rgb(82, 82, 208);
}
