main{
    width: 1024px;
    display: flex;
}
.sobre-web-design{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre-web-design article{
    width: 250px;
}
.sobre-web-design article h1{
    font-size: 70px;
    font-weight: 400;
    color: rgb(54, 54, 189);
    line-height: 70%;
}

.sobre-web-design article h2{
    font-size: 30px;
    line-height: 200%;
}
.sobre-web-design article p{
    margin: 15px
}
.sobre-web-design article h2,
.sobre-web-design article p{
    color:#3399cc;
}


.sobre-web-design figcaption{
    width: 700px;
}
