@import "./header.css";
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    background: url(/Teste-site/assets/bolha-background.png)repeat-y;
    background-position: left ;
    background-size:35% ;
    
    }


    
main section{
    display: flex;
    justify-content: space-between;
}

    

article{
    padding: 45px;
    width: 600px;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 0px;
    
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

button{
    width: 120px;
    height: 30px;
    background: orangered;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
    
}





